.banner-row1 {
  width: 99%;
  display: grid;
  margin-bottom: 15px;
}
.programmed-row {
  width: 99%;
  display: grid;
  margin: 0px 0 15px 0;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 10px;
}
